<% include partials/header.ejs %>

<h1><%= title %></h1>
<a href="/carss/add">Add a new Car</a>
<table class="table table-striped">
<tr>
    <th>Company Name</th>
    <th>Model Name</th>
    <th>Engine</th>
    <th>Year</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
<% for (var i=0; i < cars.length; i++) { %>
<tr>
    <td><%= cars[i].title %></td>
    <td><%= cars[i].model %></td>
    <td><%= cars[i].engine %></td>
    <td><%= cars[i].year %></td>
    <td><a href="/carss/<%= cars[i]._id %>">Edit</a></td>
    <td><a href="/carss/delete/<%= cars[i]._id %>" class="confirmation">Delete</a></td>
</tr>
<% } %>
</table>
<% include partials/footer.ejs %>